{# Registrate form #}

{% extends 'layouts/base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
<div class="mt-3">
    {{ form_start(registrateForm, {'method': 'POST'}) }}
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.username, {'attr': {
                'class': 'form-control',
                'placeholder': 'Username',
                'autofocus': true
            }}) }}
        </div>
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.plainPassword.first, {'attr': {
                'class': 'form-control',
                'placeholder': 'Password'
            }}) }}
        </div>
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.plainPassword.second, {'attr': {
                'class': 'form-control',
                'placeholder': 'Repeat password'
            }}) }}
        </div>
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.email, {'attr': {
                'class': 'form-control',
                'placeholder': 'E-mail'
            }}) }}
        </div>
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.birthday, {'attr': {
                'class': 'form-control',
                'placeholder': 'Birthday'
            }}) }}
        </div>
        <div class="form-group col-lg-5 mx-auto">
            {{ form_widget(registrateForm.submit, {'attr': {
                'class': 'btn btn-primary'
            }}) }}
        </div>
    {{ form_end(registrateForm) }}
</div>
{% endblock %}